.searchbar {
   display: flex;
   align-items: center;
   gap: 5px;
   align-items: center;
   border: 0.5px solid  rgba(212, 214, 224, 1);
   border-radius: 10px;
}

.search-input {
   padding: 16px 0;
   width: 300px;
   border: none;
}

.search-input:focus {
   outline: none;
   border: none;
}


.search-btn, .search-btn:hover {
   background-color: var(--white);
   padding: 13px 17px;
   border-radius: 10px 0 0 10px;
   border: none;

}


.btn-img {
   width: 20px;
   height: 20px;
}
