:root {
  --primary-color: #FE724C;
  --primary-hover-color: #e35f3a;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --separator-color: #D4D6E0;
  --white: #ffffff;
  --font: "Open Sans", sans-serif
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

 
}

h1 {
margin: 0;
}


.wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;   
  gap: 200px;        
  margin: 0;  
}

.separator {
  width: 2px;
  height: 100vh;
  background-color: var(--separator-color);
}

